CHATWOOT_TOKEN=
CHATWOOT_URL=

N8N_WEBHOOK_URL=
ADMIN_CONVERSAS_ENDPOINT=
ADMIN_LOGS_ENDPOINT=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_LEADS_TABLE=chat_leads
SUPABASE_CONVERSAS_TABLE=
SUPABASE_LOGS_TABLE=